<!-- about -->
<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
        <div class="thumbnail">
            <img src="css/img/band-photo-square.jpg" alt="">
            <div class="caption">
                <h2>BeatSpeak is SoulCraft</h2>
                <p>
                    Steeped in Soul, Rnb and Performed Electronic Music, BeatSpeak commands
                    the finest SoulCraft that whispers to and shakes rooms.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- end about -->